
/* ------------------------------------------------------------------------------
 *
 *  # Datatables library
 *
 *  Add advanced interaction controls to any HTML table
 *
 *  Version: 1.1
 *  Latest update: Nov 10, 2015
 *
 * ---------------------------------------------------------------------------- */
.dataTable {
    margin: 0;
    max-width: none;
    border-collapse: separate;
}
.dataTable thead th,
.dataTable thead td {
    outline: 0;
    position: relative;
}
.dataTable thead .sorting_asc,
.dataTable thead .sorting_desc,
.dataTable thead .sorting {
    cursor: pointer;
}
.dataTable thead .sorting,
.dataTable thead .sorting_asc,
.dataTable thead .sorting_desc,
.dataTable thead .sorting_asc_disabled,
.dataTable thead .sorting_desc_disabled {
    padding-right: 40px;
}
.dataTable thead .sorting:before,
.dataTable thead .sorting:after,
.dataTable thead .sorting_asc:after,
.dataTable thead .sorting_desc:after,
.dataTable thead .sorting_asc_disabled:after,
.dataTable thead .sorting_desc_disabled:after {
    content: '';
    font-family: 'icomoon';
    position: absolute;
    top: 50%;
    right: 20px;
    font-size: 12px;
    margin-top: -6px;
    display: inline-block;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.dataTable thead .sorting:before {
    content: '\e9c1';
    margin-top: -2px;
    color: #999999;
}
.dataTable thead .sorting:after {
    content: '\e9c2';
    margin-top: -10px;
    color: #999999;
}
.dataTable thead .sorting_asc:after {
    content: '\e9c2';
}
.dataTable thead .sorting_desc:after {
    content: '\e9c1';
}
.dataTable thead .sorting_asc_disabled:after {
    content: '\e9c2';
    color: #ccc;
}
.dataTable thead .sorting_desc_disabled:after {
    content: '\e9c1';
    color: #ccc;
}
.dataTable tbody > tr:first-child > th,
.dataTable tbody > tr:first-child > td {
    border-top: 0;
}
.dataTable tbody + thead > tr:first-child > th,
.dataTable tbody + tfoot + thead > tr:first-child > th,
.dataTable tbody + thead > tr:first-child > td,
.dataTable tbody + tfoot + thead > tr:first-child > td {
    border-top: 0;
}
.dataTable .dataTables_empty {
    text-align: center;
}
.dataTable.table-bordered {
    border-collapse: collapse;
}
.dataTables_wrapper {
    position: relative;
    clear: both;
}
.dataTables_wrapper:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
}
.dataTables_wrapper .table-bordered {
    border-top: 0;
}
.dataTables_wrapper + .panel-body {
    border-top: 1px solid #ddd;
}
.dataTables_processing {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 40px;
    margin-left: -50%;
    margin-top: -25px;
    padding-top: 20px;
    text-align: center;
    background-color: #fff;
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(25%, rgba(255, 255, 255, 0.9)), color-stop(75%, rgba(255, 255, 255, 0.9)), color-stop(100%, rgba(255, 255, 255, 0)));
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
    background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
    background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
}
.datatable-header,
.datatable-footer {
    padding-top: 20px;
}
.datatable-header:after,
.datatable-footer:after {
    content: "";
    display: table;
    clear: both;
}
.datatable-header > div:first-child,
.datatable-footer > div:first-child {
    margin-left: 0;
}
.panel > .dataTables_wrapper .datatable-header,
.panel > .dataTables_wrapper .datatable-footer {
    padding-left: 20px;
    padding-right: 20px;
}
.datatable-header {
    border-bottom: 1px solid #ddd;
}
.datatable-footer {
    border-top: 1px solid #bbb;
}
.dataTables_length {
    float: right;
    display: inline-block;
    margin: 0 0 20px 20px;
}
.dataTables_length > label {
    margin-bottom: 0;
}
.dataTables_length > label > span:first-child {
    float: left;
    margin: 8px 15px;
    margin-left: 0;
}
.length-left .dataTables_length {
    float: left;
}
.dataTables_length .select2-container {
    width: auto;
}
.dataTables_length .select2-choice {
    min-width: 60px;
}
.dataTables_filter {
    position: relative;
    display: block;
    float: left;
    margin: 0 0 20px;
}
.dataTables_filter > label {
    margin-bottom: 0;
    position: relative;
}
.dataTables_filter > label:after {
    content: "\e98e";
    font-family: 'icomoon';
    font-size: 12px;
    display: inline-block;
    position: absolute;
    top: 12px;
    right: 12px;
    color: #999999;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.dataTables_filter > label > span {
    float: left;
    margin: 8px 15px;
    margin-left: 0;
}
.dataTables_filter input {
    outline: 0;
    width: 200px;
    height: 36px;
    padding: 7px 12px;
    padding-right: 34px;
    font-size: 13px;
    line-height: 1.5384616;
    color: #333333;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
}
.filter-right .dataTables_filter {
    float: right;
}
.dataTables_info {
    float: left;
    padding: 8px 0;
    margin-bottom: 20px;
}
.info-right .dataTables_info {
    float: right;
}
.dataTables_paginate {
    float: right;
    margin: 5px 0 20px 20px;
    text-align: right;
}
.dataTables_paginate .paginate_button {
    display: inline-block;
    min-width: 30px;
    padding: 3px 2px;
    margin-left: 2px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    color: #333333;
    border: 1px solid transparent;
    border-radius: 3px;
}
.dataTables_paginate .paginate_button:first-child {
    margin-left: 0;
}
.dataTables_paginate .paginate_button:hover,
.dataTables_paginate .paginate_button:focus {
    background-color: #f5f5f5;
}
.dataTables_paginate .paginate_button.current,
.dataTables_paginate .paginate_button.current:hover,
.dataTables_paginate .paginate_button.current:focus {
     background-color: rgb(54, 88, 153);
    color: #fff
}.dataTables_length {
    display: none;
}
.dataTables_paginate .paginate_button.disabled,
.dataTables_paginate .paginate_button.disabled:hover,
.dataTables_paginate .paginate_button.disabled:focus {
    cursor: default;
    background-color: transparent;
    color: #bbb;
}
.paginate-left .dataTables_paginate {
    float: left;
}
.paging_simple .paginate_button:hover,
.paging_simple .paginate_button:focus {
    color: #fff;
    background-color: #455A64;
}
.dataTables_scroll {
    clear: both;
}
.dataTables_scroll .dataTables_scrollHead table {
    border-bottom: 0;
}
.dataTables_scroll .dataTables_scrollHead th,
.dataTables_scroll .dataTables_scrollHead td {
    white-space: nowrap;
}
.dataTables_scroll .dataTables_scrollBody {
    -webkit-overflow-scrolling: touch;
}
.dataTables_scroll .dataTables_scrollBody table {
    border-bottom: 0;
}
.dataTables_scroll .dataTables_scrollBody table thead th[class*=sorting]:before,
.dataTables_scroll .dataTables_scrollBody table thead th[class*=sorting]:after {
    content: none;
}
.dataTables_scroll .dataTables_scrollBody table tbody tr:first-child > td {
    border-top: 0;
}
.dataTables_scroll .dataTables_scrollBody th,
.dataTables_scroll .dataTables_scrollBody td {
    white-space: nowrap;
}
.dataTables_scroll .dataTables_scrollBody th > .dataTables_sizing,
.dataTables_scroll .dataTables_scrollBody td > .dataTables_sizing {
    height: 0;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.panel-body + .dataTables_wrapper {
    border-top: 1px solid #ddd;
}
.panel-body > .dataTables_wrapper .datatable-footer .dataTables_length,
.panel-body > .dataTables_wrapper .datatable-footer .dataTables_filter,
.panel-body > .dataTables_wrapper .datatable-footer .dataTables_info,
.panel-body > .dataTables_wrapper .datatable-footer .dataTables_paginate {
    margin-bottom: 0;
}
.panel-flat > .panel-heading + .dataTables_wrapper {
    border-top: 1px solid #ddd;
}
.panel > .dataTables_wrapper .table-bordered {
    border: 0;
}
.panel > .dataTables_wrapper .table-bordered > thead > tr > td:first-child,
.panel > .dataTables_wrapper .table-bordered > tbody > tr > td:first-child,
.panel > .dataTables_wrapper .table-bordered > tfoot > tr > td:first-child,
.panel > .dataTables_wrapper .table-bordered > thead > tr > th:first-child,
.panel > .dataTables_wrapper .table-bordered > tbody > tr > th:first-child,
.panel > .dataTables_wrapper .table-bordered > tfoot > tr > th:first-child {
    border-left: 0;
}
.panel > .dataTables_wrapper .table-bordered > thead > tr > td:last-child,
.panel > .dataTables_wrapper .table-bordered > tbody > tr > td:last-child,
.panel > .dataTables_wrapper .table-bordered > tfoot > tr > td:last-child,
.panel > .dataTables_wrapper .table-bordered > thead > tr > th:last-child,
.panel > .dataTables_wrapper .table-bordered > tbody > tr > th:last-child,
.panel > .dataTables_wrapper .table-bordered > tfoot > tr > th:last-child {
    border-right: 0;
}
.panel > .dataTables_wrapper .table-bordered > tbody > tr:last-child > th,
.panel > .dataTables_wrapper .table-bordered > tbody > tr:last-child > td {
    border-bottom: 0;
}
.datatable-scroll-lg,
.datatable-scroll,
.datatable-scroll-sm {
    min-height: .01%;
}
.datatable-scroll-wrap {
    width: 100%;
    min-height: .01%;
    overflow-x: auto;
}
@media (max-width: 768px) {
    .datatable-scroll-sm {
        width: 100%;
        overflow-x: scroll;
    }
    .datatable-scroll-sm th,
    .datatable-scroll-sm td {
        white-space: nowrap;
    }
}
@media (max-width: 1024px) {
    .datatable-scroll {
        width: 100%;
        overflow-x: scroll;
    }
    .datatable-scroll th,
    .datatable-scroll td {
        white-space: nowrap;
    }
}
@media (max-width: 1199px) {
    .datatable-scroll-lg {
        width: 100%;
        overflow-x: scroll;
    }
    .datatable-scroll-lg th,
    .datatable-scroll-lg td {
        white-space: nowrap;
    }
}
@media (max-width: 768px) {
    .dataTables_info,
    .dataTables_paginate,
    .dataTables_length,
    .dataTables_filter,
    .DTTT_container,
    .ColVis {
        float: none!important;
        text-align: center;
        margin-left: 0;
    }
    .dataTables_info,
    .dataTables_paginate {
        margin-top: 0;
    }
    .datatable-header {
        text-align: center;
    }
}
/* ------------------------------------------------------------------------------
*
*  # Columns reorder
*
*  Easily modify the column order of a table through drop-and-drag of column headers
*
*  Version: 1.0
*  Latest update: May 25, 2015
*
* ---------------------------------------------------------------------------- */
.DTCR_clonedTable {
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 202;
    cursor: move;
}
.DTCR_clonedTable th,
.DTCR_clonedTable td {
    border: 1px solid #ddd !important;
}
.DTCR_pointer {
    width: 1px;
    background-color: #2196F3;
    z-index: 201;
}
/* ------------------------------------------------------------------------------
*
*  # Row Reorder extension
*
*  RowReorder adds the ability for rows in a DataTable to be reordered through
*  user interaction with the table.
*
*  Version: 1.0
*  Latest update: Nov 10, 2015
*
* ---------------------------------------------------------------------------- */
.dt-rowReorder-float {
    position: absolute!important;
    table-layout: static;
    outline: 1px dashed #777;
    outline-offset: -1px;
    background-color: #fff;
    z-index: 1030;
    cursor: move;
    opacity: 0.9;
    filter: alpha(opacity=90);
}
.dt-rowReorder-moving {
    outline: 1px solid #777;
    outline-offset: -1px;
}
.dt-rowReorder-noOverflow {
    overflow-x: hidden;
}
.dataTable td.reorder {
    text-align: center;
    cursor: move;
}
/* ------------------------------------------------------------------------------
*
*  # Fixed columns
*
*  Extension that "freezes" in place the left most columns in a scrolling DataTable
*
*  Version: 1.0
*  Latest update: May 25, 2015
*
* ---------------------------------------------------------------------------- */
.DTFC_Cloned {
    background-color: #fff;
    border-bottom: 0;
}
.DTFC_LeftWrapper .DTFC_Cloned.table {
    border-right: 1px solid #ddd;
}
.DTFC_RightWrapper .DTFC_Cloned.table {
    border-left: 1px solid #ddd;
}
.DTFC_LeftBodyWrapper .DTFC_Cloned thead th:before,
.DTFC_RightBodyWrapper .DTFC_Cloned thead th:before,
.DTFC_LeftBodyWrapper .DTFC_Cloned thead th:after,
.DTFC_RightBodyWrapper .DTFC_Cloned thead th:after {
    content: none;
}
.DTFC_LeftBodyWrapper .DTFC_Cloned tbody > tr:first-child > td,
.DTFC_RightBodyWrapper .DTFC_Cloned tbody > tr:first-child > td,
.DTFC_LeftBodyWrapper .DTFC_Cloned tbody > tr:first-child > th,
.DTFC_RightBodyWrapper .DTFC_Cloned tbody > tr:first-child > th {
    border-top: 0;
}
.DTFC_Blocker {
    background-color: white;
}
@media (max-width: 768px) {
    .DTFC_LeftWrapper,
    .DTFC_RightWrapper {
        display: none;
    }
}
/* ------------------------------------------------------------------------------
*
*  # Fixed Header extension
*
*  This extension lets your users quickly determine what each column refers to
*  rather than needing to scroll back to the top of the table.
*
*  Version: 1.0
*  Latest update: Nov 9, 2015
*
* ---------------------------------------------------------------------------- */
.fixedHeader-floating,
.fixedHeader-locked {
    background-color: #fff;
    margin-top: 0;
    margin-bottom: 0;
}
.fixedHeader-floating {
    position: fixed;
}
.fixedHeader-floating + .fixedHeader-floating,
.fixedHeader-locked + .fixedHeader-floating {
    border-top: 0!important;
}
@media (max-width: 768px) {
    .fixedHeader-floating {
        display: none;
    }
}
.fixedHeader-locked {
    position: absolute;
}
@media (max-width: 768px) {
    .fixedHeader-locked {
        display: none;
    }
}
@media print {
    table.fixedHeader-floating {
        display: none;
    }
}