body{
    font-family: Poppins;
}
.ui-menu {
    background: #fff none repeat scroll 0 0;
    box-shadow: 1px 1px 6px #333;
    max-height: 200px;
    max-width: 330px;
    overflow: auto;
    padding: 0 16px;
}.ui-menu-item {
    list-style: outside none none;
    cursor: pointer;
    padding: 3px;
}.ui-menu-item:hover {
    color: blue;
}.text-content {
    color: #122333;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: unset;
}.banner_size img {
    height: 210px;
    min-height: unset;
    object-fit: cover;
    width: 100%;
}.banner_size {
    position: relative;
}.banner_size figcaption {
    bottom: 0;
    font-family: Poppins;
    font-size: 35px;
    left: 100px;
    position: absolute;
    right: 0;
    text-transform: uppercase;
    top: 41%;
}.navbar-default .navbar-brand {
    color: #777;
    display: table;
    padding: 2px;
}.navbar-brand > img {
    display: block;
    max-width: 114px;
}
.contractor_modal {
    font-family: Poppins;
    margin: 0;
}
/*.single_work .text-primary {
    background: #333 none repeat scroll 0 0;
    left: 4px;
    padding: 16px;
    position: absolute;
    top: -28px;
    z-index: 1000;
}*/
.home-flash{
    left: 0;
    margin: 0 auto;
    max-width: 420px;
    position: absolute;
    right: 0;
    z-index: 1000;
}.single_work {
    margin-left: 25px;
    margin-top: 40px;
    position: relative;
}.single_work .text-primary {
    background: #e62739 none repeat scroll 0 0;
    box-shadow: -1px 1px 5px -2px rgba(0, 0, 0, 0.75);
    left: -22px;
    padding: 20px;
    position: absolute;
    top: -46px;
}.head{
    color: #112130 !important;
    font-family: "Poppins";
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.login-container{
    padding: 50px 0px;
}.book_a_service .form-group {
    margin-bottom: 15px;
}.book_a_service .control-label {
    font-family: Poppins;
    font-size: 14px;
    font-weight: unset;
    text-transform: capitalize;
}.checkbox label {
    font-size: 14px;
    padding-left: 5px !important;
}
/*.btn-primary {
    font-size: 12px;
    padding: 5px !important;
}*/
.num_inc .form-control {
    border-radius: 3px !important;
}.num_inc {
    margin-top: 0;
    position: absolute;
    right: 0;
}.bg_white td {
    font-size: 14px;
}.time td {
    font-size: 17px;
}.form-group .list-inline {
    padding-top: 0;
}.feature-ul {
    list-style: outside none none;
}.feature-ul .checkbox.checkbox-primary.clearfix img {
    height: 25px;
    width: 25px;
}.feature_check,.subservice_check {
    height: 0;
    margin: 0;
    opacity: 0;
    position: absolute !important;
}.feature-ul {
    list-style: outside none none;
    margin: 16px 0;
    padding-left: 0;
}.service_type {
    margin-left: 0;
}
.feature-ul label {
    padding: 0 !important;
}.checkbox.checkbox-primary.clearfix img {
    border: 1px solid #ccc;
    border-radius: 50%;
    height: 30px;
    margin-right: 9px;
    padding: 3px;
    width: 30px;
}.feature-ul .active.checkbox.checkbox-primary.clearfix img {
    border: 2px solid #454ec3;
    height: 25px;
    width: 25px;
}.feature {
    display: none;
}.footer .link a {
    color: #fff;
    font-family: Poppins;
    font-size: 14px;
    text-transform: uppercase;
}.copy_right h5 {
    color: #fff;
    font-family: Poppins;
    font-size: 13px;
}.cust_support h2, .address h4 {
    font-size: 15px !important;
    text-transform: unset;
}address {
    font-size: 12px;
    line-height: 2;
}label {
    display: inline-block;
    font-weight: unset;
}.control-label {
    font-family: Poppins;
}#overall_amount {
    display: inline-block;
    font-size: 29px;
    margin-top: -12px;
}#subservices label {
    pointer-events: none;
}.step {
    display: none;
}.step[data-step="1"] {
    display: block;
}.step {
    background: #fff none repeat scroll 0 0;
    box-shadow: -2px 5px 7px -5px rgba(0, 0, 0, 1);
    margin-bottom: 12px;
    padding: 14px;
}.step .h4 {
    font-family: Poppins;
    font-size: 15px;
}.step input[type="checkbox"], .step input[type="radio"] {
    margin-right: 10px;
}.booking_history .payment_history td {
    color: #123;
    font-size: 12px;
    padding: 8px 12px !important;
    text-align: left;
    vertical-align: middle !important;
}.booking_history .payment_history.table {
    border: 2px solid #eae9f7;
    margin-top: 0 !important;
    max-width: 100%;
    width: 100%;
}input.form-control[type="file"] {
    height: auto;
    padding: 10px;
}
.btns {
    text-align: center;
}.bookservice_details.history_details th {
    padding-right: 10px !important;
}
/* ------------------------------------------------------------------------------
*
*  # Alert component
*
*  Overrides for alerts bootstrap component
*
*  Version: 1.0
*  Latest update: May 25, 2015
*
* ---------------------------------------------------------------------------- */
.alert {
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
}
.alert .alert-heading {
    margin-top: 0;
    margin-bottom: 5px;
}
.alert .alert-link {
    color: inherit;
}
.alert .close,
.alert .close:hover,
.alert .close:focus {
    color: inherit;
}
.alert-primary {
    background-color: #E3F2FD;
    border-color: #1E88E5;
    color: #1565C0;
}
.alert-primary hr {
    border-top-color: #187bd1;
}
.alert-primary .alert-link {
    color: #104d92;
}
.alert-primary,
.alert-primary .close {
    color: #104d92;
}
.alert-success,
.alert-success .close {
    color: #205823;

}
.alert-info,
.alert-info .close {
    color: #00545c;
}
.alert-warning,
.alert-warning .close {
    color: #aa3510;
}
.alert-danger,
.alert-danger .close {
    color: #9c1f1f;
}
.alert.alert-rounded {
    border-radius: 100px;
    padding-left: 25px;
    padding-right: 25px;
}
.alert-component[class*=alert-styled-] {
    background-color: #fff;
}
.alert[class*=bg-] a,
.alert[class*=bg-] .alert-link {
    color: #fff;
}
.alert[class*=alert-styled-]:after,
.ui-pnotify[class*=alert-styled-] > .alert:after {
    content: '\e9a2';
    font-family: 'icomoon';
    color: #fff;
    width: 44px;
    left: -44px;
    text-align: center;
    position: absolute;
    top: 50%;
    margin-top: -8px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.alert[class*=alert-styled-].alert-danger:after,
.ui-pnotify[class*=alert-styled-] > .alert.alert-danger:after,
.alert[class*=alert-styled-][class*=bg-danger]:after,
.ui-pnotify[class*=alert-styled-] > .alert[class*=bg-danger]:after {
    content: '\ed64';
}
.alert[class*=alert-styled-].alert-success:after,
.ui-pnotify[class*=alert-styled-] > .alert.alert-success:after,
.alert[class*=alert-styled-][class*=bg-success]:after,
.ui-pnotify[class*=alert-styled-] > .alert[class*=bg-success]:after {
    content: '\ed6e';
}
.alert[class*=alert-styled-].alert-warning:after,
.ui-pnotify[class*=alert-styled-] > .alert.alert-warning:after,
.alert[class*=alert-styled-][class*=bg-warning]:after,
.ui-pnotify[class*=alert-styled-] > .alert[class*=bg-warning]:after {
    content: '\e9bd';
}
.alert[class*=alert-styled-].alert-info:after,
.ui-pnotify[class*=alert-styled-] > .alert.alert-info:after,
.alert[class*=alert-styled-][class*=bg-info]:after,
.ui-pnotify[class*=alert-styled-] > .alert[class*=bg-info]:after {
    content: '\e9b9';
}
.alert.alert-styled-right:after,
.ui-pnotify.alert-styled-right > .alert:after {
    left: auto;
    right: -44px;
}
.alert.alert-styled-custom:after,
.ui-pnotify.alert-styled-custom > .alert:after {
    content: "\e81b";
}
.alert.alert-styled-left,
.ui-pnotify.alert-styled-left > .alert {
    border-left-width: 44px;
}
.alert.alert-styled-left[class*=bg-],
.ui-pnotify.alert-styled-left[class*=bg-] > .alert {
    border-left-color: rgba(0, 0, 0, 0.15) !important;
}
.alert.alert-styled-right,
.ui-pnotify.alert-styled-right > .alert {
    border-right-width: 44px;
}
.alert.alert-styled-right[class*=bg-],
.ui-pnotify.alert-styled-right[class*=bg-] > .alert {
    border-right-color: rgba(0, 0, 0, 0.15) !important;
}
.alert[class*=alert-arrow-]:before,
.ui-pnotify[class*=alert-arrow-] > .alert:before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 0;
    border-left: 5px solid;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left-color: inherit;
    margin-top: -5px;
}
.alert.alert-arrow-right:before,
.ui-pnotify.alert-arrow-right > .alert:before {
    left: auto;
    right: 0;
    border-left: 0;
    border-right: 5px solid;
    border-right-color: inherit;
}
.ui-pnotify[class*=alpha-] >  {
    background-color: inherit;
    border-color: inherit;
    color: inherit;
}#flashMessage {
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 60px;
    width: 400px;
    z-index: 10000;
}.load {
    background: rgb(249, 248, 253) none repeat scroll 0 0;
    color: #365899;
    height: 100px;
    left: 15px;
    padding: 8px;
    position: absolute;
    right: 15px;
    top: 0;
    z-index: 10000;
}header .form-group {
    margin-bottom: 7px;
}header .control-label {
    font-family: Poppins;
    font-size: 13px;
    margin-bottom: 4px;
    padding-bottom: 4px;
    text-transform: unset;
}header .form-control {
    border: 2px solid #9a99a7;
    box-shadow: none;
    font-family: Poppins;
    height: 40px;
}.choice {
    margin-right: 10px;
}.bookservice_details thead {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
}.bookservice_details .btn.btn-primary.pull-right {
    margin-right: 5px;
}.book_a_service .required {
    color: red;
    font-family: monospace;
    font-size: 12px;
    font-weight: bold;
    left: 0;
    position: absolute;
    top: 0;
}.user_value {
    text-align: center;
}.bootstrap-datetimepicker-widget table td {
    height: auto;
    line-height: unset;
    width: auto;
}.bootstrap-datetimepicker-widget table td span {
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    height: auto;
    margin: 2px 1.5px;
    line-height: unset;
    width: auto;
}.single_blog > h4 {
    font-size: 15px;
}.single_blog img {
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    max-height: 71px;
    max-width: 70px;
}
.modal-body #flashMessage {
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: -33px;
    width: 82%;
    z-index: 10000;
}.carousel-inner img {
    max-height: 340px;
    min-height: 340px;
    object-fit: cover;
}.user_det .img-circle {
    height: 97px;
    max-width: 97px;
}.dropdown-menu a {
    cursor: pointer;
}.text-center td {
    text-align: center !important;
}.single_testimonial .media .media-body, .single_testimonial .media .media-left {
    vertical-align: middle;
}.carousel-caption > p {
    font-size: 15px;
}.dataTable thead .sorting::before, .dataTable thead .sorting::after, .dataTable thead .sorting_asc::after, .dataTable thead .sorting_desc::after, .dataTable thead .sorting_asc_disabled::after, .dataTable thead .sorting_desc_disabled::after {
    right: 6px !important;
    top: 50%;
}.required {
    color: red;
    font-family: monospace;
    font-size: 11px;
    font-weight: bold;
    position: relative;
    top: -5px;
}.booking_history .title {
    font-family: Poppins;
    padding: 0 15px 17px;
    text-transform: uppercase;
}.booking_history .control-label {
    font-size: 13px;
    text-transform: unset;
}.booking_history .nav li a {
    color: #112130 !important;
    font-family: "Poppins";
    font-size: 13px;
    margin-top: 0;
    text-transform: capitalize;
}.fancybox-wrap{
    z-index: 10000 !important;
}.img_prev .remove {
    color: #e62739;
    font-size: 9px;
    position: absolute;
    right: 0;
    top: -6px;
}.img_prev li {
    position: relative;
}.banner .carousel img {
    height: 100% !important;
}#subservices > li:first-child .formError {
    display: block !important;
}.checkbox.checkbox-primary .formError {
    display: none !important;
}

/* Our services*/
.ser_bg{
	background-color:#FFF;
	padding:50px 0px 30px 0px;
}
.ser_block {
	margin-bottom:30px;
	color:#112131;
}
.ser_block h3{
	text-transform:uppercase;
}
.ser_block p {
    font-size: 16px;
    margin: 13px auto;
    line-height: 1.8;
}
.ser_block1{
	margin-bottom:20px;
}
.ser_block1 h4{
	text-transform:uppercase;
	color:#38579A;
}
.ser_block1 p {
    font-size: 15px;
    margin: 13px auto;
    line-height: 1.8;
	color:#61646D;
}
.ser_block1 h2 {
	font-size:16px;
	color:#E72734;
	text-transform:uppercase;
}
.ser_block1 h3 {
	font-size:16px;
	color:#E72734;
	
}
.ser_block1 ul {
	margin-left:15px;
	font-size:15px;
	margin-top: 15px;
}
.ser_block1 li i{
	font-size:19px;
	color:#38579A!important;
	margin-right: 8px;
}
.ser_block1 li {
	margin-bottom:5px;
	color:#61646D;
}
.nav1 > li.active > a, .nav1 > li.active > a:focus, .nav1 > li.active > a:hover{
	border:0px;
	border-bottom:4px solid #FFB400;
	color:#FFF!important;
}
.nav1 > li > a:hover{
	border:0;
	border-bottom:4px solid #FFB400;
	color:#FFF!important;
}
.nav1 > li > a{
	border:0px;
	color:#FFF!important;
	padding:10px 0px;
	border-bottom:4px solid #365898;

}
.nav1 > li{
	margin-right: 22px;
	margin-left: 22px;
}
.nav1{
	border:1px solid #365898;
	background-color:#365898;
}
.tab1{
	padding: 20px 30px;
	background-color:#F2F3F8;
}
.tab{
	margin-bottom:20px;
}
.img{
	margin: 10px auto;
}
@media only screen and (max-width: 768px) {
	.nav1 > li {
    margin-right: 0px;
    margin-left: 11px;
}
.nav1 > li > a{
	font-size:12px;
}
.heading{
	margin:5px auto;
}
	
}




@media only screen and (max-width: 600px) {

.ser_block h3 {
    text-transform: uppercase;
    font-size: 20px;
}

}
@media only screen and (max-width: 414px) {

.ser_block {
    margin-bottom: 15px;
}
.ser_block h3{
	line-height:1.5;
}
.heading {
    margin: 0px auto;
}

         .tab1 {padding: 5px 15px;
}
.ser_block p {
    font-size: 15px;
    margin: 13px auto;
    line-height: 1.5;
}
.ser_block1 p {
    font-size: 14px;
    margin: 13px auto;
    line-height: 1.5;
    color: #61646D;
}
.ser_block1 ul {
    font-size: 14px;
}
}

